.BigButton {
  background-color: #ff66b3;
  color: snow;
  border-radius: 10px;
  font-size: x-large;
  padding: 10px;
  margin: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
