.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbe6e4;
}

.cardsList {
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-left: -40px;
}

.LoginMain {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbe6e4;
}
