.NumberPad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NumberPad table {
  table-layout: fixed;
  width: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-collapse: collapse;
}

.NumberPad td {
  font-size: xx-large;
  cursor: pointer;
  width: 33%;
  text-align: center;
  border-width: 3px;
  border-style: outset;
  background-color: #ff66b3;
  color: snow;
}

.NumberDisplay {
  width: 200px;
  height: 50px;
  font-size: xx-large;
  border-width: 3px;
  border-style: outset;
  text-align: center;
  background-color: #ff66b3;
  color: snow;
}
